# Ignore virtual environment
venv/
ENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore __pycache__ and compiled files
__pycache__/
*.py[cod]

# Ignore OS system files
.DS_Store

# Ignore environment files
.env

# Ignore temporary files and logs
*.log
*.tmp
